<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities Tracker</title>
</head>
<body>
    <h3>All Activities</h3>
    <form action="/activities/new">
        <button>Create New Activity</button>
    </form>

    <% if (allActivities.length > 0) { %>
        <% allActivities.forEach(activity => { %>
            <div>
                <p>Activity Name: <%= activity.name %></p>
                <p>Calories Burned: <%= activity.caloriesBurned %></p>
                <p>Duration: <%= activity.duration %> minutes</p>
    
                <!-- Edit Activity Button -->
                <form method="get" action="/activities/<%= activity._id %>/edit">
                    <button>Edit</button>
                </form>
                
                <!-- Delete Activity Button -->
                <form method="post" action="/activities/<%= activity._id %>?_method=delete">
                    <button>Delete</button>
                </form>
            </div>
            <hr>
        <% }) %>
    <% } else { %>
        <p>No activities found.</p>
    <% } %>
    
</body>
</html>
